body{
    background-color: rgb(69, 73, 207);
    text-align: center;
    
    text-transform: capitalize;
    ;
   
    color:rgb(157, 59, 255);
    margin-top: 0%;


}
#s{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 50px;
    flex-wrap:nowrap;
    margin-top:250px;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
.image:hover {
    transform: scale(1.3);
    border: 3px solid rgb(153, 75, 255);
}
button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(162, 0, 255);
}
button:active {
    transform: scale(0.9);
}
@media (max-width: 600px) {
    .image {
        width: 150px;
        height: 150px;
    }
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
@media (max-width: 400px) {
    .image {        
        width: 120px;
        height: 120px;
    }}
video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
}
h1{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(166, 0, 255);
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}